appdirs==1.4.4 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "4.0"
blinker==1.7.0 ; python_version >= "3.12" and python_version < "4.0"
bs4==0.0.2 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
cssselect==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
fake-useragent==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
flask==3.0.1 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==21.2.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.6 ; python_version >= "3.12" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.5 ; python_version >= "3.12" and python_version < "4.0"
lxml==5.1.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==2.1.4 ; python_version >= "3.12" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.12" and python_version < "4.0"
parse==1.20.1 ; python_version >= "3.12" and python_version < "4.0"
pyee==11.1.0 ; python_version >= "3.12" and python_version < "4.0"
pyppeteer==0.0.25 ; python_version >= "3.12" and python_version < "4.0"
pyquery==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
redis==5.0.1 ; python_version >= "3.12" and python_version < "4.0"
requests-html==0.10.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.12" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.12" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.12" and python_version < "4.0"
w3lib==2.1.2 ; python_version >= "3.12" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.12" and python_version < "4.0"
werkzeug==3.0.1 ; python_version >= "3.12" and python_version < "4.0"
